<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qingshan.mall.pay.mapper.PaymentRecordMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.qingshan.mall.pay.entity.PaymentRecordEntity" id="paymentRecordMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="payNum" column="pay_num"/>
        <result property="tradeNo" column="trade_no"/>
        <result property="orderType" column="order_type"/>
        <result property="orderUuid" column="order_uuid"/>
        <result property="payWay" column="pay_way"/>
        <result property="payStatus" column="pay_status"/>
        <result property="step" column="step"/>
        <result property="postStatus" column="post_status"/>
        <result property="returnStatus" column="return_status"/>
        <result property="totalFee" column="total_fee"/>
        <result property="resultCode" column="result_code"/>
        <result property="errCodeStr" column="err_code_str"/>
        <result property="currency" column="currency"/>
        <result property="ip2long" column="ip2long"/>
        <result property="postJson" column="post_json"/>
        <result property="returnJson" column="return_json"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <result property="successAt" column="success_at"/>
        <result property="procedureKb" column="procedure_kb"/>
        <result property="procedureFee" column="procedure_fee"/>
    </resultMap>


</mapper>