<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/login/JD_sass/JD1.css" />
		<script src="/static/login/JD_js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<title>mall</title>
	</head>
	<body>
		<!--顶部logo-->
		<header>
			<a href="http://auth.mall.com/login.html"><img src="/static/login/JD_img/logo.jpg" /></a>
			<p>欢迎登录</p>
			<div class="top-1">
				<img src="/static/login/JD_img/4de5019d2404d347897dee637895d02b_06.png" /><span>登录页面,调查问卷</span>
			</div>
		</header>

		<div class="top-2">
			<div class="top-2a">
				<img src="/static/login/JD_img/4de5019d2404d347897dee637895d02b_11.png" />
				<p>依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！新版《<span>谷粒商城隐私政策</span>》已上线，将更有利于保护您的个人隐私。</p>
			</div>
		</div>

		<!--大图-->
		<div class="top-3">
			<div class="img_1">
				<img src="/static/login/JD_img/5731485aN1134b4f0.png" />
			</div>
			<div id="sign">
				<div class="si_top">
					<p>
						<span>谷粒商城不会以任何理由要求您转账汇款，谨防诈骗。</span>
					</p>
				</div>
				<div class="si_cen">
					<h2 class="btn1">账户登录</h2>
				</div>
				<div class="si_bom1">
					<div class="error">
						<div></div>
						请输入账户名和密码
					</div>
					<ul>
						<li class="top_1">
							<img src="/static/login/JD_img/user_03.png" class="err_img1" />
							<input id="account" type="text" placeholder=" 邮箱/用户名/已验证手机" class="user" />
						</li>
						<li>
							<img src="/static/login/JD_img/user_06.png" class="err_img2" />
							<input id="password" type="password" placeholder=" 密码" class="password" />
						</li>
						<li class="bri">
							<a href="">忘记密码</a>
						</li>
						<li class="ent"  onclick="login()"><button type="button" class="btn2"><a class="a">登 &nbsp; &nbsp;录</a></button></li>
					</ul>
				</div>
				<div class="si_out">
					<h5 class="rig">
						<img src="/static/login/JD_img/4de5019d2404d347897dee637895d02b_25.png" />
						<span><a href="http://auth.mall.com/register.html?__hbt=1512049011905">立即注册</a></span>
					</h5>
				</div>
			</div>
		</div>


		<!--底部-->
		<footer>
			<span>Copyright &copy; 2021-2022 商城mall.com 版权所有</span>
		</footer>

	</body>
	<script type="text/javascript">
		function login(){

			var account = $("#account").val();
			var password = $("#password").val();

			if (account == null|| account == '' || account == undefined){
				alert("请输入账号");
				return;
			}
			if (password == null|| password == '' || password == undefined){
				alert("请输入密码");
				return;
			}


			$.ajax({
				type:"POST",
				url:"/auth/login",
				contentType: "application/json", //必须这样写
				dataType:"json",
				data:JSON.stringify({
					account:account,
					password:password
				}),//schoolList是你要提交是json字符串
				success:function (result) {
					if (!result.success){
						alert(result.msg);
					}else{
						window.location.href="[[${jumpUrl}]]";
					}
				}
			});
		}
	</script>
</html>
